@charset "UTF-8";


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

    body {
        background: linear-gradient(to top, #01e0ca, #008073);
    }

    section#login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
        
    }

    #form {
        float: right;
        width: 70%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    
    body {
        background: linear-gradient(to top, #01e0ca, #008073);
    }

    section#login {
        width: 950px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
        
    }

    #form {
        float: right;
        width: 50%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}