@charset "UTF-8";


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background: linear-gradient(to top, #01e0ca, #008073);
    }

    section#login {
        width: 80vw;
        height: 55vh;
    }

    main .fa-user:hover, .fa-key:hover {
        color: #fff;
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background:#01e0ca url('../imagens/imgg07.jpg') no-repeat;
        
    }

    #form {
        float: right;
        width: 60%;
    }

    #form a:hover {
        background-color: #013631;
        color: #97ddd6;
        border-radius: 20px;
        text-decoration: underline;
        
        }

   
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

    body {
        background: linear-gradient(to top, #01e0ca, #008073);
    }

    main .fa-user:hover, .fa-key:hover {
        color: #fff;
    }

    section#login {
        width: 935px;
        height: 55vh;
    }

    #imagem {
        display: block;
        float: right;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background:#01e0ca url('../imagens/imgg12.jpg') no-repeat;
    }

    #form {
        float: left;
        width: 50%;
    }

    #form a:hover {
        background-color: #013631;
        color: #97ddd6;
        border-radius: 20px;
        text-decoration: underline;
        
        }

    




}

