@charset "UTF-8";


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

    body {
        background: linear-gradient(to top, #01e0ca, #008073);
    }

    section#login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 36.5%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background:#01e0ca url(../imagens/img1.jpg) repeat;
        
    }

    #form {
        float: right;
        width: 63%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

    body {
        background: linear-gradient(to top, #01e0ca, #008073);
    }

    section#login {
        width: 950px;
    }

    #imagem {
        float: left;
        width: 35%;
        height: 100%;
        
    }

    #form {
        float: right;
        width: 65%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}