@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #008073;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

main .fa-user, .fa-key {
color: #97ddd6;



}


section#login {
    position: absolute;
    top: 50%;
    left: 50%;    
    background-color: #01e0ca;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem {
    display: block;
    background:#01e0ca url('../imagens/img1.jpg') no-repeat;
    height: 167px;    
    background-size: cover;
    background-position: center center;
}

#form {
    display: block;
    padding: 10px;
    color: #013631;
}

#form h1 {
    text-align: center;
    margin-bottom: 10px;
}

#form p {
    font-size: 0.8em;
}

form .campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #013631;
    border-radius: 15px;
    margin-bottom: 5px;
    

}

.campo input:focus-within {
    background-color: #fff;
   
}

.campo input {
   
   border-radius: 15px;
   width: calc(100% - 55px);
   height: 38px;
   padding: 10px;
   border: none;
   text-align: center;
   background-color: #01e0ca;
   border: 2px solid #013631;
   
    


   transform: translateY(-2.2px);
}



.campo i {    
    padding: 10px;
    width: 40px;
    font-size: 1.3em;
    margin-left: 10px;
 }



.fa-user {
    font-size: 20px;
}

.fa-key {
    font-size: 17.5px;
}

.fa-envelope {
    font-size: 1.2em;
    margin-left: 5px;
}



#form input[type=submit] {
display: block;
width: 100%;
height: 40px;
cursor: pointer;
border-radius: 10px;
border: none;
background-color: #013631;
color: #02f8e0;
font-size: 1em;
padding-bottom: 5px;

}

#form input[type=submit]:hover {

    background-color:#97ddd6;
    color: #013631;
    
   
}

#form a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    background-color: #97ddd6;
    color: #013631;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 7px;

}

#form a:hover {
background-color: #013631;
color: #97ddd6;
}

form .button{
    display: block;
    justify-items: center;
}